/*color template*/

.color-black {
  color: $color-black;
}

.color-black-bg {
  background: $color-black;
}

.color-white {
  color: $color-white;
}

.color-white-bg {
  background: $color-white;
}

.color-grey {
  color: $color-grey;
}

.color-grey-bg {
  background: $color-grey;
}

.color-back {
  background: #f5f5f5;
}
