/* Font variables */
$font-baloo: "Baloo Thambi 2", cursive;
$font-raleway: "Raleway", cursive;
$font-rubik: "Rubik", cursive;

/* Color variables */
$color-black: #090a09;
$color-white: #fafaf2;
$color-grey: #d1d1cd;
